* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --color-1: #300333;
  --color-2: #230333;
  --color-3: #04000a;
  --color-4: #090333;
  --color-5: #030933;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.maincontainer {
  min-height: 100vh;
  min-width: 100vw;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(
    to left,
    var(--color-2),
    var(--color-5),
    var(--color-4)
  );
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
.topBar {
  height: 10vh;
  background: linear-gradient(to left, var(--color-1), var(--color-3));
  display: flex;
  align-items: center;
  gap: 0rem;
  min-width: 365px;
  padding: 1rem;
}

.label {
  font-family: cursive;
  font-size: 6vh;
}

.mainbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.weatherInfo,
.news {
  min-width: 403px;
  min-height: 403px;
  display: flex;
  padding: 3rem;
  height: fit-content;
  width: fit-content;
  border-radius: 5rem;
  background: linear-gradient(to top right, var(--color-2), var(--color-1));
  justify-content: center;
  align-items: center;
}
.secondaryContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.news {
  width: 60vh;
  height: 60vh;
  justify-content: center;
  align-content: center;
}

.title {
  font-size: 1.5rem;
  text-align: justify;
}
.desc {
  color: rgb(150, 150, 150);
  font-size: 0.7rem;
  text-align: justify;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.city {
  font-size: 3vw;
}

.dataFont {
  font-size: 2vw;
}

.condition {
  display: flex;
  flex: 0 0 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, var(--color-3), var(--color-5));
  padding: 2rem;
  height: fit-content;
  width: fit-content;
  border-radius: 3rem;
}

.conditionFont {
  text-align: center;
}

.search {
  min-width: 190px;
  color: whitesmoke;
  height: 2vw;
  width: 23vw;
  border-radius: 1rem;
  padding: 1rem;
  background: linear-gradient(to top, var(--color-1), var(--color-5));
}

.button {
  color: whitesmoke;
  height: 2vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: linear-gradient(to top, var(--color-1), var(--color-5));
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-items: center;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  overflow-y: scroll;
}

.none {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
}

.logo {
  width: 3rem;
  filter: invert();
}

@media (max-width: 1250px) {
  .secondaryContainer {
    flex-direction: column;
  }
  .weatherInfo,
  .news {
    width: 60vw;
    min-width: 590px;
  }
  .city {
    font-size: 35px;
  }
  .dataFont {
    font-size: 23px;
  }
}

@media (max-width: 615px) {
  .weatherInfo,
  .news {
    width: 90vw;
    min-width: 355px;
  }
  .city {
    font-size: 25px;
  }
  .dataFont {
    font-size: 19px;
  }
}

@media (max-width: 390px) {
  .weatherInfo,
  .news {
    width: 90vw;
    min-width: 320px;
  }
  .topBar {
    min-width: 320px;
  }
  .label {
    font-size: 2rem;
  }
}

@media (max-height: 277px) {
  .logo {
    width: 6vh;
  }
}

.condition,
.weatherInfo,
.news {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.551);
}

.github {
  height: 3rem;
  filter: invert();
  cursor: pointer;
}
